
.aboutThisToolContainer {
  padding: 5% 5% 7% 5%;
  position: relative;
}

.aboutThisToolContainer .skipTutorial {

}

.aboutThisToolProgressBar {
  width:100px;
  margin:auto;
}

.aboutThisToolProgressBarContainer {
  text-align: center;
  position: relative;
}

.textBold {
  font-weight: bold;
}

.bottomNavigationButtons {
  margin-top: 50px;
  position: relative;
}

.pieChartImageContainer {
  text-align: center;
}

.pieChartImage {
  margin-top:20px;
  width: 300px;
  height: 210px;
}
