.introText {
  margin-top: 10%;
  width: 50%;
  float: left;
  text-align: left;
  margin-left: 5%;
}

.introPic {
  width: 50%;
  margin-left: 42%;
  float: right;
  margin-top: -25%;
  position: absolute;
  width: 541px;
  height: 304px;
  top: 65%;
}

.secondBottomBorder i {
  margin-top: 15% !important;
}

.bottomTextL a {
  text-decoration: none;
  color: #594fd1;
}

.bottomTextR a {
  text-decoration: none;
  color: #594fd1;
}

.frontPageTitleText {
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 36px;
}

.bodyText {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color:gray;
}

.frontPageButtonHeaderText {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color:darkslategray;
}